body { 
margin:0 0 0 0; 
} 
#AppBG { 
height:100%; 
width:348px; 
-webkit-box-shadow:1px 0px 8px 2px #aaaaab; 
position:absolute; 
z-index: -1; 
border-left: 1px solid #aaaaab;
} 
#AppSidebar { 
width:348px; 
height: calc(100% - 30px); 
border-left: 1px solid #aaaaab;
padding-top:0px; 
margin-bottom: 300px; 
overflow-x: hidden; 
} 
/*#AppNav,#AppTop,#AppMid,#AppBot.#AppSidebar{ 
margin-bottom: 5px; 
}*/
#AppNav { 
height:40px; 
margin:0px 9px 0px 9px; 
z-index: 50; 
display:table-cell; 
vertical-align:middle; 
width:348px; 
background: -webkit-linear-gradient(top, #f6f7f7, #e3e3e4); 
} 
#AppNav #logo { 
padding-left: 10px; 
display:inline; 
width:200px; 
max-height:40px; 
font-family: monospace; 
float:left; 
vertical-align: middle; 
} 
#AppNav #button { 
float:right; 
display:inline; 
padding-right:20px; 
} 
#AppNav button { 
height:22px; 
width:22px; 
} 
/***Buttons**/
#addNote {
background-image:url("ButtonPlus.png");
border:0px;
}
#addNote:active {
background-image:url("ButtonPlus2.png");
border:0px;
}

#toggleDelete {
background-image:url("ButtonMinus.png");
border:0px;
}
#toggleDelete:active {
background-image:url("ButtonMinus2.png");
border:0px;
}

#export {
background-image:url("ButtonExport.png");
border:0px;
}
#export:active {
background-image:url("ExportButtonDown.png");
border:0px;
}
/************/
#AppContent { 
border-top:1px solid #aaaaab; 
overflow-y:scroll; 
height: calc(100% - 48px); 
padding:5px 0 0px 0; 
background: -webkit-linear-gradient(top, #ffffff, #ffffff); 
overflow-x: visible; 
} 
/***Notes***************/
.note, .mirror {
	min-height:30px;
	border: 1px solid #aaaaab;
	font-family: arial;
	font-size: 12px;
}
.note {
	width:100%;
	background-color: #FFF;
}
.mirror {
	width:100%;
	position:absolute;
	bottom:-100%;
	background-color: blue;
}

.delNote {
	position:absolute;
	left:36%;
	top:calc(50% - 15px);
}

.noteWrapper {
	position:relative;
	width:calc(100% - 20px);
	margin:0px 0px 10px 9px;
}
/*******************/
#AppRetract { 
margin-top: -300px; 
width:348px; 
height:300px; 
padding:0px 0px 0px 0px; 
vertical-align:bottom; 
background: -webkit-linear-gradient(top, #ededed, #e3e3e4); 
opacity:1; 
/*border-right: 1px solid #aaaaab;*/
} 
#AppRetractSelect { 
height:60px; 
width:348px; 
border-top:1px solid #aaaaab; 
border-bottom:1px solid #aaaaab; 
background: -webkit-linear-gradient(top, #f6f7f7, #e3e3e4); 
} 
/*Tab - Common*/
#Tab1, #Tab2, #Tab3 { 
width:calc(33.33%); 
height:100%; 
display: inline; 
outline: 1px solid #aaaaab; 
margin:0px; 
} 
#Tab1 a:hover, #Tab2 a:hover, #Tab3 a:hover { 
background: white; 
} 
#Tab1 { 
    float:left; 
} 
#Tab2 { 
margin:auto; 
} 
#Tab3 { 
    float:right; 
} 
#AppRetractBody { 
height:calc(100% - 107px); 
padding:10px 10px 10px 10px; 
overflow-y:scroll; 
background: -webkit-linear-gradient(top, #ffffff, #ffffff); 
} 
#AppRetractFooter { 
background: -webkit-linear-gradient(top, #f6f7f7, #e3e3e4); 
width:100%; 
height:25px; 
outline: 1px solid #aaaaab; 
font-size:14px; 
text-align: right; 
  
} 
        #AppBottom { 
        } 
        input { 
            width:calc(348px/3); 
            margin-left:0px; 
            margin-right:0px; 
  
        } 
        #buttons { 
            width:348px; 
            height:30px; 
            position:absolute; 
            bottom:0; 
            left:0;  
            z-index:1; 
        } 
        #left, #mid, #right { 
            height: 100%; 
            border-top:0px solid #aaaaab; 
            border-right:0px solid #aaaaab; 
            border-bottom:0px solid #aaaaab; 
            border-left:0px solid black;   
            background-image:url("IMG/tab2.png"); 
        } 
        .mindy { 
            position:absolute; 
            bottom:0; 
            left:0; 
            width:348px; 
            height:300px; 
            display:none; 
        } 
        #mindy1 { 
            background-color:yellow; 
        } 
        #mindy2 { 
            background-color:red; 
        } 
        #mindy3 { 
            background-color:green; 
        } 
  
/*Webkit Scrollbar***************************/
  
::-webkit-scrollbar { 
    width: 12px; 
} 
   
/* Track */
::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px #aaaaab;  
    -webkit-border-radius: 10px; 
    border-radius: 0px; 
} 
   
/* Handle */
::-webkit-scrollbar-thumb { 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
    background: #fff;  
    -webkit-box-shadow: inset 0 0 6px #aaaaab;  
	-webkit-transition-property:color, background;   
 	-webkit-transition-duration: 1s, 1s;   
	-webkit-transition-timing-function: linear, ease-in; 
}
::-webkit-scrollbar-thumb:hover { 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
    background: #f6f7f7;  
    -webkit-box-shadow: inset 0 0 6px #aaaaab; 
} 
/*::-webkit-scrollbar-thumb:window-inactive { 
    background: #e3e3e4;  
}*/