#buttons { 
            width:348px; 
            height:30px; 
            position:absolute; 
            bottom:0; 
            left:0; 
            z-index:1; 
            background:white;
border-left: 1px solid #aaaaab;
} 
#left, #mid, #right { 
            height: 100%; 
            border-top:0px solid #aaaaab; 
            border-right:0px solid #aaaaab; 
            border-bottom:0px solid #aaaaab; 
            border-left:0px solid black;  
            background-image:url("images/Tab.png"); 
} 
.mindy { 
            position:absolute; 
            bottom:0; 
            left:0; 
            width:348px; 
            height:300px; 
            display:none; 
} 
#mindy1 {
	background-color:white;

	border-left: 1px solid #aaaaab;
}
#mindy1bar {
	height:22px;
}
#mindy2 {
	background-color:white;

	border-left: 1px solid #aaaaab;
}
#mindy3 {
	background-color:white;
	border-left: 1px solid #aaaaab;
}
.delete_button {
	width: 25px;
}

#GetLink {
background-image:url("images/2chainz.png");
border:0px;
width:22px;
height:22px;
}
#GetLink:active {
background-image:url("images/2chainzdown.png");
border:0px;
width:22px;
height:22px;
}